<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type"content="text/html;charset=utf-8">
    <title>接口测试报告</title>
</head>
<style type="text/css">
        .div{
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        }
        .td{
        white-space:nowrap;
        word-break:keep-all;
        overflow:hidden;
        text-overflow:ellipsis;
        }

</style>
<body>
    <h1 style="font-family: Microsoft YaHei">接口测试报告</h1>
    <p class='attribute'>开始时间&nbsp;:&nbsp;{{start_time}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;结束时间&nbsp;:&nbsp;{{end_time}}</p>
    <table id='statistical_table' class="table  table-condensed table-bordered table-hover" width=100%>
        <colgroup>
            <col align='left' />
            <col align='right' />
            <col align='right' />
            <col align='right' />

        </colgroup>
        <tr id='header' class="text-center success" style="font-weight: bold;font-size: 14px;" bgcolor="#fcf8e3">
            <th height="30"><font size="3"><b>客户端及版本</b></font></th>
            <th><font size="3"><b>成功用例</b></font></th>
            <th><font size="3"><b>失败用例</b></font></th>
            <th><font size="3"><b>通过率</b></font></th>
        </tr>
        <tr class='failClass' bgcolor="#dff0d8" align="center">
            <td height="30"><font size="3"><b>{{version}}</b></font></td>
            <td><font size="3"><b>{{ispass}}</b></font></td>
            <td><font color="red" size="3"><b>{{isfail}}</b></font></td>
            <td><font size="3"><b>{{pass_rate}}</b></font></td>
        </tr>
    </table>
    <h3 style="font-family: Microsoft YaHei">错误接口列表</h3>
    <table id='case_table' class="table  table-condensed table-bordered table-hover" width=100% id="contentTable"  style="table-layout: fixed;">
        <colgroup>
            <col align='left' />
            <col align='right' />
            <col align='right' />
            <col align='right' />
            <col align='right' />
        </colgroup>
        <tr id='case_title' class="text-center success" style="font-weight: bold;font-size: 14px;" bgcolor="#fcf8e3" align="center">
            <td width=20%>用 例 名 称</td>
            <td width=15%>功 能 模 块</td>
            <td width=25%>CRL</td>
            <td width=7%>失 败 结 果</td>
            <td width=20%>预 期 结 果</td>
            <td width=30%>实 际 结 果</td>
        </tr>

        {% for item in body %}
        <tr class='case_list' bgcolor="#dff0d8" align="center">
            <td width=20%>{{item.name}}</td>
            <td width=15%>{{item.demo}}</td>
            <td width=25% class="id">
                <div id={{item.openid}} style="display:none;word-break:break-all; word-wrap:break-word;">
                    {{item.curl}}
                </div>
                <button class="slide">
                    <a href="javascript:showdiv({{item.openid}})"  class="btn-slide">展开+</a>
                </button>
            </td>
            <td width=7%> {{item.result}}</td>
            <td width=20%>{{item.response}}</td>
            <td width=30% class="id"><div class="div">{{item.error}}</div></td>
        </tr>
        {% endfor%}
        <script type="text/javascript">
            function showdiv(num) {
                var box = document.getElementById(num);
                box.style.display = "block";
                }

        </script>

    </table>
</body>
</html>